<div class="wrapper">

  <label class="begin">Bitcoin address list</label>
  <div class="begin">
    <tabset>
      <label>Balance {{ satoshiToXsn(getAvailableSatoshis()) | explorerCurrency }}</label>
      <tab heading="Receive">
        <ul id="addressList">
          <li *ngFor="let item of trezorAddresses; let i = index">
            <label>Address #{{i + 1}}:</label>
            <p>{{item.address}}</p>
            <p>{{item.serializedPath}}</p>
          </li>
        </ul>
        <select #selectedAddressType (change) = "refresh()">
          <option value="44" selected>Legacy</option>
          <option value="84">Segwit</option>
          <option value="49">P2shsegwit</option>
        </select>
        <br>
        <input type="button" value="Add" (click)="generateNextAddress(selectedAddressType.value)">
      </tab>
      <tab heading="Send">
        Destiny address:<br>
        <input #destinationAddress type="text"><br>
        Amount:<br>
        <input #amountXSN type="number" min="0" step="0.00000001"><br>
        Fee:<br>
        <select #selectedFee (change) = "refresh()">
          <option value="1000">High</option>
          <option value="500" selected>Normal</option>
          <option value="100">Low</option>
        </select>
        {{ selectedFee.value }} Shatoshis<br><br>
        <input type="button" value="New Tx"
        (click)="signTransaction(destinationAddress.value, amountXSN.value, selectedFee.value)">
      </tab>
      <tab heading="TPOS">
        Merchant address:<br>
        <input #merchantAddress type="text"><br>
        MerchantStake address:<br>
        <select #selectedStakeAddress>
          <option *ngFor="let item of trezorAddresses">{{ item.address }}</option>
        </select><br>
        Comisión:<br>
        <input #commisionXSN type="number" min="0"><br>
        <input type="button" value="Send" (click)="sendTPOS()">
      </tab>
    </tabset>
    <br>
  </div>
</div>
