<div class="wrapper">

  <label class="begin">Bitcoin address list</label>
  <div class="begin">
    <tabset>
      <tab heading="Receive">
        <ul id="addressList">
          <li *ngFor="let address of addresses; let i = index">
            <label>Address #{{i + 1}}:</label>
            <p>{{address.hexAddress}}</p>
            <p>{{address.pathAddress}}</p>
          </li>
        </ul>
        <input type="button" value="Add" (click)="getAddress()">
      </tab>
      <tab heading="Send">
        Origin address<br>
        <input [(ngModel)]='originAddress' type="text"><br>
        <br>
        Destiny address:<br>
        <input [(ngModel)]='destinyAddress' type="text"><br>
        Amount:<br>
        <input [(ngModel)]='amountSatoshi' type="number" min="0"><br>
        Fee:<br>
        <select [(ngModel)]='selectedFee'>
          <option value="high">High</option>
          <option value="normal" selected>Normal</option>
          <option value="low">Low</option>
        </select>
        {{ getFeeAmount() }} Shatoshis<br><br>
        <input type="button" value="New Tx" (click)="signTransaction()">
      </tab>
    </tabset>
    <br>
  </div>
</div>
