<div class="wrapper">

  <label class="begin">Trezor Wallet</label>
  <div class="begin">
    <tabset>
      <label>Balance {{ satoshiToXsn(getAvailableSatoshis()) | explorerCurrency }}</label>
      <tab heading="Receive">
        <ul id="addressList">
          <li *ngFor="let item of trezorAddresses">
            <label>Address: {{item.serializedPath}}</label>
            <p *ngIf="isTrezorAddressVerified(item.address) else elseBlock">
              <label>{{item.address}}</label><br>
              <a routerLink="/addresses/{{item.address}}">{{ 'message.more' | translate }}</a>
            </p>
            <ng-template #elseBlock>
              <p>
                <input type="button" value="{{ 'action.verifyAddress' | translate }}" (click)="verifyAddress(item)"><br>
              </p>
            </ng-template>
          </li>
        </ul>
        <select #selectedAddressType (change) = "refresh()">
          <option value=44>Legacy</option>
          <option value=84>Segwit</option>
          <option value=49 selected>P2shsegwit</option>
        </select>
        <br>
        <input type="button" value="Add" (click)="generateNextAddress(+selectedAddressType.value)">
      </tab>
      <tab heading="Send">
        Destiny address:<br>
        <input #destinationAddress type="text"><br>
        Amount:<br>
        <input #amountXSN type="number" min="0" step="0.00000001"><br>
        Fee:<br>
        <select #selectedFee (change) = "refresh()">
          <option value="1000">High</option>
          <option value="500" selected>Normal</option>
          <option value="100">Low</option>
        </select>
        {{ selectedFee.value }} Shatoshis<br><br>
        <input type="button" value="New Tx"
        (click)="signTransaction(destinationAddress.value, amountXSN.value, selectedFee.value)">
      </tab>
      <tab heading="TPOS">
        Merchant address:<br>
        <input #merchantAddress type="text"><br>
        MerchantStake address:<br>
        <select #selectedStakeAddress>
          <option *ngFor="let item of trezorAddresses">{{ item.address }}</option>
        </select><br>
        Comisión:<br>
        <input #commisionXSN type="number" min="0"><br>
        <input type="button" value="Send" (click)="sendTPOS()">
      </tab>
    </tabset>
    <br>
  </div>
</div>
